.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ff8c3c;
  }
  
  .loader img {
    width: 120px;
  }
  
  .loader > :last-child {
    margin-top: 20px;
    color: white;
    font-size:large;
  }

  